div.section {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 220px;
}
.caption {
    display: block;
}
img {
    width: 200px;
    height: 200px;
    background-color: aqua;
}